<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python In-Class, <br>26 May 2021</p><h1>

### Assignment - 10 Sudoku Formatter

````
sudoku = [
    [0, 0, 0, 0, 6, 4, 0, 0, 0],
    [7, 0, 0, 0, 0, 0, 3, 9, 0],
    [8, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 5, 0, 2, 0, 6, 0],
    [0, 8, 0, 4, 0, 0, 0, 0, 0],
    [3, 5, 0, 6, 0, 0, 0, 7, 0],
    [0, 0, 2, 0, 0, 0, 1, 0, 3],
    [0, 0, 1, 0, 5, 9, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 7, 0, 0]
]

- - - - - - - - - - - - - - - 
0  0  0  | 0  6  4  | 0  0  0  
7  0  0  | 0  0  0  | 3  9  0  
8  0  0  | 0  0  0  | 0  0  0  
- - - - - - - - - - - - - - - 
0  0  0  | 5  0  2  | 0  6  0  
0  8  0  | 4  0  0  | 0  0  0  
3  5  0  | 6  0  0  | 0  7  0  
- - - - - - - - - - - - - - - 
0  0  2  | 0  0  0  | 1  0  3  
0  0  1  | 0  5  9  | 0  0  0  
0  0  0  | 0  0  0  | 7  0  0  
- - - - - - - - - - - - - - - 
```

In [1]:
sudoku = [
    [0, 0, 0, 0, 6, 4, 0, 0, 0],
    [7, 0, 0, 0, 0, 0, 3, 9, 0],
    [8, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 5, 0, 2, 0, 6, 0],
    [0, 8, 0, 4, 0, 0, 0, 0, 0],
    [3, 5, 0, 6, 0, 0, 0, 7, 0],
    [0, 0, 2, 0, 0, 0, 1, 0, 3],
    [0, 0, 1, 0, 5, 9, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 7, 0, 0]
]

In [2]:
type(sudoku)

list

In [3]:
len(sudoku)

9

In [5]:
count = 0

print("- - - - - - - - - - - - - - - ")
for i in sudoku:
    for j in range(len(i)) :
        print(i[j], " ", end = "")
        if (j + 1) == 9 :
            print()
            count += 1
            if count % 3 == 0 and count != 0 :
                print("- - - - - - - - - - - - - - - ")
        if (j + 1) % 3 == 0 and j != 0 and j != 8:
            print("| ", end = "")

- - - - - - - - - - - - - - -
0  0  0  | 0  6  4  | 0  0  0
7  0  0  | 0  0  0  | 3  9  0
8  0  0  | 0  0  0  | 0  0  0
- - - - - - - - - - - - - - -
0  0  0  | 5  0  2  | 0  6  0
0  8  0  | 4  0  0  | 0  0  0
3  5  0  | 6  0  0  | 0  7  0
- - - - - - - - - - - - - - -
0  0  2  | 0  0  0  | 1  0  3
0  0  1  | 0  5  9  | 0  0  0
0  0  0  | 0  0  0  | 7  0  0
- - - - - - - - - - - - - - -

In [6]:
x = [([1], [2,3], (4,5,6))]

In [7]:
len(x)

1

In [ ]:
# [1,2,3,4,5,6]

In [8]:
a = []

for i in x :
    for j in i :
        for z in j :
            a.append(z)
a

[1, 2, 3, 4, 5, 6]

In [ ]:
# {1,2,3,4,5,6}

In [9]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [10]:
{z for i in x for j in i for z in j}

{1, 2, 3, 4, 5, 6}

In [11]:
xList = "elma armut muz".split()
xList

['elma', 'armut', 'muz']

In [12]:
yList = "selvi vahit ayşe".split()
yList

['selvi', 'vahit', 'ayşe']

In [13]:
result = []

for i in xList :
    for j in yList:
        result.append(i + j)
result

['elmaselvi',
 'elmavahit',
 'elmaayşe',
 'armutselvi',
 'armutvahit',
 'armutayşe',
 'muzselvi',
 'muzvahit',
 'muzayşe']

In [14]:
[i + j for i in xList for j in yList]

['elmaselvi',
 'elmavahit',
 'elmaayşe',
 'armutselvi',
 'armutvahit',
 'armutayşe',
 'muzselvi',
 'muzvahit',
 'muzayşe']

In [15]:
[[i + j] for i in xList for j in yList]

[['elmaselvi'],
 ['elmavahit'],
 ['elmaayşe'],
 ['armutselvi'],
 ['armutvahit'],
 ['armutayşe'],
 ['muzselvi'],
 ['muzvahit'],
 ['muzayşe']]

In [18]:
result = []
sayılar = ["bir", "iki", "üç"]
for i in range(5):
    if i%2==0:
        for j in sayılar :
            result.append(str(i) + " --> " + j)
result

['0 --> bir',
 '0 --> iki',
 '0 --> üç',
 '2 --> bir',
 '2 --> iki',
 '2 --> üç',
 '4 --> bir',
 '4 --> iki',
 '4 --> üç']

In [19]:
[str(i) + " --> " + j for i in range(5) for j in sayılar if i % 2 == 0]

['0 --> bir',
 '0 --> iki',
 '0 --> üç',
 '2 --> bir',
 '2 --> iki',
 '2 --> üç',
 '4 --> bir',
 '4 --> iki',
 '4 --> üç']

### Girilen üç sayıdan kaç tanesi tekrarlıyor. Bunu gösteren bir fonksiyon yazalım

In [ ]:
equal(4,4,4)  # ==> 3
equal(3,4,4)  # ==> 2
equal(1,2,3)  # ==> 0

In [28]:
num = [5,1,1]

In [29]:
max(num)

5

In [35]:
num.count(max(num, key = num.count))

2

In [31]:
num.count(1)

2

In [32]:
num.count(5)

1

In [34]:
num.count(1)

2

In [36]:
def equal(a, b, c) :
    numbers = [a, b, c]
    result = numbers.count(max(numbers, key = numbers.count))
    if result > 1 :
        return result
    else :
        return 0

In [37]:
equal(1,1,5)

2

In [38]:
equal(5,5,5)

3

In [39]:
equal(1,2,3)

0

In [40]:
def equal(*a) :
    numbers = list(a)
    result = numbers.count(max(numbers, key = numbers.count))
    if result > 1 :
        return result
    else :
        return 0

In [41]:
equal(1,2,3,4,5,5,5,6,7,7)

3

In [42]:
# def equal(*a) :
#     numbers = list(a)
#     result = numbers.count(max(numbers, key = numbers.count))
#     return result

In [43]:
# equal(1,2,3,4,5)

1

In [ ]:
"\r\n"
"\n"
"\r"

In [44]:
import pandas as pd

In [46]:
titanic = pd.read_csv("titanic.csv")

In [47]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [51]:
bayanlar = titanic[titanic["Sex"] == "female"]

In [52]:
bayanlar.to_csv("titanic_bayanlar.csv")

In [53]:
vefat = titanic[titanic["Survived"] == 0]

In [54]:
vefat.to_csv("titanic_vefat.csv")

In [57]:
titanic.groupby("Sex")["Survived"].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [58]:
titanic.groupby("Pclass")["Survived"].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [61]:
vefat = pd.read_csv("titanic_vefat.csv", index_col=0)

In [62]:
vefat

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### show me my way, please! <img src="https://www.robotsepeti.com/nao-insansi-robot-platformu-v6-egitmen-educator-versiyonu-insansi-robot-softbank-robotics-9282-48-B.png" height = "100" width="300" alt="Robot">

In [69]:
L = ["right 20", "right 30", "left 50", "up 10", "down 20"]

In [70]:
x = y = 0

In [71]:
for i in range(len(L)) :
    if L[i].startswith("r") : x = x + int(L[i].split()[1])
    elif L[i].startswith("l") : x = x - int(L[i].split()[1])
    elif L[i].startswith("u") : y = y + int(L[i].split()[1])
    elif L[i].startswith("d") : y = y - int(L[i].split()[1])
[x, y]

[0, -10]

In [66]:
"right 20".split()[1]

'20'

In [75]:
print("ahttps://www.google.com".startswith(("http://", "https://", "ahttp")))

True

In [76]:
print("http://www.google.co.uk".endswith((".com", "co.uk")))

True

In [77]:
ops = {"+" : (lambda x, y : x+y), "-" : (lambda x, y : x-y), "/" : (lambda x, y : x/y)}

In [78]:
ops

{'+': <function __main__.<lambda>(x, y)>,
 '-': <function __main__.<lambda>(x, y)>,
 '/': <function __main__.<lambda>(x, y)>}

In [80]:
ops["+"](3, 5)

8

In [82]:
ops["-"](11, 5)

6

In [83]:
normal = {"bir" : 11, "iki" : 22}

In [84]:
normal["bir"]

11

In [85]:
type(normal["bir"])

int